@import "compass/reset";
@import "compass/css3";

@import "icomoon";

$text-color: #FEFCFB;
$background-color: #FB7A25;
$hover-color: #ECB88A;

body {
  font-size: 62.5%;
  font-family: "Open Sans", "Microsoft YaHei", "Hiragino Sans GB", "Hiragino Sans GB W3", "微软雅黑", "Helvetica Neue", Arial, sans-serif;
  font-weight: normal;
  background-color: $background-color;
  position: relative;
}

.bg-radio {
  position: absolute;
  top: -200px;
  left: -200px;
  background-image: url('/images/imgo-orange.png');
  background-repeat: no-repeat;
  background-size: 1024px 1024px;
  width: 1024px;
  height: 1024px;
  z-index: -1;
}

.radio {
  position: absolute;
  right: 2em;
  bottom: 0;
  background-image: url('/images/imgo-white.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 128px;
  height: 128px;
}

.container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: $text-color;
  padding: 24% 0;

  input {
    line-height: 1;
    vertical-align: middle;
    border: none;
    padding: 0 1em;
    outline: none;
    font-size: 1.5em;
    height: 4em;
  }

    .selection {
      font-size: 5em;
      margin: 10px auto;
    }

  #message {
    width: 500px;
    @include border-radius(5px 0 0 5px);
  }

  .submit {
    height: 4em;
    width: 8em;
    cursor: pointer;
    background-color: $hover-color;
    color: $text-color;
    margin: 0 auto;
    @include border-radius(0 5px 5px 0);
    
    transition: all .2s ease-in-out;

    &:hover {
      background-color: $text-color;
      color: $background-color;
    }
  }
}
