%meta{ :charset => "utf-8" }
%link{ :rel => "stylesheet", :type => "text/css", :href => "css/style.css" }
%script{ :src => "lib/jquery-2.1.3.min.js" }
%script{ :src => "scripts/app.js" }

%html
  %head
    %title Fruit!
  %body
    .container
      %header
        %h1 骚窝小喇叭
      %p(class="title") 你要说神马？
      %input(id="message")
      %p(class="submit") 发送


  

