%html
  %head
    %title Fruit!
    %meta{ :charset => "utf-8" }
    %link{ :rel => "stylesheet", :type => "text/css", :href => "css/style.css" }
    %link{ :rel => "shortcut icon", :href => "favicon.ico"}
  %body
    .container
      %header
        %h1 骚窝小喇叭 - Admin专享！
      %p(class="title") 你要说神马？
      %input(id="message")
      .selection
        %input(type="checkbox") 11楼
        %input(type="checkbox") 15楼
      %button(class="submit icon-microphone") 发送
      %script{ :src => "lib/jquery-2.1.3.min.js" }
      %script{ :src => "scripts/app.js" }
